.menu{
    font-size: xx-large;
    position: absolute;
    top: 400px;
    left: 600px;
    background-color: aqua;
}

.menu:hover{
    background-color: blanchedalmond;
}

.random{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}