.homepage{
    padding: 30%;
    background-size: 80%;
    background-image: url("images/ChoicePill.webp");
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
}

.btn1 {
    cursor: progress;
    position: absolute;
    left: 480px;
    bottom: 155px;
    background-color: transparent;
    height: 40px;
    width: 80px;
    border-radius: 100%;
    
}

.btn2 {
    cursor: progress;
    position: relative;
    left: 430px; 
    top: 190px;
    background-color: transparent;
    height: 40px;
    width: 80px;
    border-radius: 50%;
    
}








